// for colors
$primary-color: #3994CE;
$header-cta: #1F5D8A;
$header-cta-hover: #015088;
$paragraph: #272727;
$menu-tag-line: #808080;
$white: #fff;
$black: #000;

// responsive devices breakpoints
$laptop : 1024px;
$tablet : 995px;
$iPad : 768px;
$mobile : 540px;
$iPhone : 375px;
$hover : 995px;

// vendor prefix list
$vendors : 'webkit', 'moz', 'ms', 'o';