$primary-color: #3994CE;
$header-cta: #1F5D8A;
$header-cta-hover: #015088;
$paragraph: #272727;
$laptop : '(max-width: 1024px)';
$tablet_l : '(max-width: 995px)';
$tablet : '(max-width: 768px)';
$mobile_l : '(max-width: 540px)';
$mobile_s : '(max-width: 375px)';
$hover_disable : '(min-width: 995px)';