/*=================================
  footer styling starts here
=================================*/
footer { background-color: $paragraph; }

.footer__top {
  padding: 100px 1% 42px;
  display: flex;
  justify-content: space-between;

  @include media($tablet_l) {
    padding-bottom: 0;
    flex-wrap: wrap;
  }

  @include media($tablet) {
    padding-top: 50px;
    flex-direction: column;
  }

  &_elem {
    flex-basis: 30%;

    @include media($tablet_l) { flex-basis: 55%; }

    &--bio {
      img {
        margin-right: 4%;
        float: left;
        width: 20%;
        border: 4px solid $black-color;
      }
    
      p {
        margin-bottom: 13px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.5;
      
        &:first-child { margin-bottom: 0; }
        @include media($mobile_l) { line-height: 1.3; }
      }
    }

    &--social_link {
      @include display(flex, '', '', column);
      flex-basis: 28%;

      @include media($tablet_l) { flex-basis: 39%; }
      @include media($tablet) { margin-top: 20px; }
    }

    &--menu {
      display: flex;
      flex-direction: column;

      @include media($tablet_l) {
        margin-top: 40px;
        flex-basis: 100%;
        flex-direction: row;
        flex-wrap: wrap;

        .footer__menu_list {
          flex-basis: 30%;
          margin: 0 2% 10px 0;
        }
      }

      @include media($tablet) {
        margin-top: 20px;

        .footer__menu_list {
          margin: 0 1% 6px 0;
        }
      }

      @include media($mobile_l) {
        flex-basis: 49%;
      }
    }
  }
}

.footer__social_icon {
  @include display(flex, '', '', '');

  p {
    margin: 0 0 22px 1%;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.6;

    @include media($tablet) { font-size: 14px; }

    @include media($mobile_l) {
      margin-bottom: 10px;
      line-height: 1.3;
    }
  }

  &::before {
    color: $white-color;
    font-family: 'FontAwesome';
    font-size: 30px;
    float: left;

    @include media($mobile_l) { font-size: 22px; }
  }

  @include media($hover) { &:hover span { color: $white-color; } }
  &--twitter::before { content: '\f099'; }
  &--github::before { content: '\f09b'; }
  &--linkedin::before { content: '\f0e1'; }
}

.footer__menu_link {
  margin-bottom: 24px;

  .footer__menu_name {
    color: $white-color;
    font-weight: 700;
    text-transform: uppercase;

    @include media($tablet) { font-size: 14px; }
  }
  
  .footer__short_description {
    margin: 5px 0 2px;
    color: $menu_tag_line;
    font-size: 14px;
    line-height: 1.3;
    @include transition;

    @include media($tablet) { font-size: 12px; }
  }

  @include media($hover) { &:hover .footer__short_description { color: $white-color; } }
  @include media($tablet) { margin-bottom: 4px; }
}

.footer__bottom {
  padding: 22px 0;

  p {
    font-size: 11px;
    font-weight: 700;
  }
}

 /*=================================
  footer styling ends here
=================================*/