/*=================================
  Header styling starts here
=================================*/
header { background-color: $primary-color; }

.wrapper--header {
  width: 84%;
  padding: 26px 0;
  @include display(flex, center, '', '');
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
  flex-basis: 40%;
}

.logo__image {
  margin-right: 3%;
  border: 6px solid #fff;
  border-radius: 50%;
  flex-basis: 9%;
}

.logo__link {
  @include display(flex, '', '', column);
  color: #fff;
}

.logo__link_heading {
  margin-bottom: 5px;
  @include fontStyle(20px, 700, uppercase);
}

.hamburger { display: none; }

.navbar--primary {
  margin-left: auto;
  flex-basis: 60%;
  @include transition;
}

.navbar__menu { @include display(flex, '', flex-end, ''); }

.navbar__menu_list {
  margin-left: 3.3%;
  
  & .navbar__menu_list_item--active { border-bottom: 2px solid #fff; }
}

.navbar__menu_list_item {
  padding: 8px 0;
  border-bottom: 2px solid transparent;
  color: #fff;
  @include fontStyle(14px, 600, uppercase);
  @include transition;

  &:hover { border-bottom: 2px solid #fff; }
}

.hire {
  margin-left: 1%;
  flex-basis: 8%;
}

.hire__cta {
  padding: 13px 11%;
  background-color: $header-cta;
  color: #fff;
  @include fontStyle(14px, 600, uppercase);
  @include transition;

  &:hover { background-color: $header-cta-hover; }
}
/*=================================
  Header styling ends here
=================================*/